body {
    background-image: url(https://images.unsplash.com/photo-1578165695722-7ddca71631f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80);
    background-repeat: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

li {
    display: inline-block;

}

nav {
    background-color: rgb(72, 72, 117);
    background-position: initial;
}